.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  padding-left: 70px;
}

.searchControl {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.searchOptions {
  margin-top: 70px;
  font-size: 1em;
}

label {
  font-size: 1.5em;
  font-weight: bold;
  color: #999;
}

.searchInput {
  display: flex;
}

.searchInput .searchButton {
  margin-left: -50px;
  margin-top: 12px;
}
